In [4]:
name = input("Enter the name:")
rno = input("enter the roll number:")
mark = input("enter the mark:")
print("Name:",name)
print("Roll No:",rno)
print("Mark:",mark)

Enter the name:Anisha
enter the roll number:21
enter the mark:78
Name: Anisha
Roll No: 21
Mark: 78

In [3]:
f=float(input("Temperature in Fahrenheit="))
c=5*(f-32)/9
print("Temperature in Degree celsius =",c)
c=float(input("Temperature in Celsius="))
f= (1.8*c)+32
print("Temperature in Fahrenheit =",f)

Temperature in Fahrenheit=41
Temperature in Degree celsius = 5.0
Temperature in Celsius=5
Temperature in Fahrenheit = 41.0

In [6]:
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))
print("Product=",num1*num2)

Enter first number:3
Enter second number:5
product= 15.0

In [20]:
str = input("Enter a string:")
ch = '**'
str1 = str[:5]+ch+str[6:12]+ch+str[13:28]+ch+str[29:36]+ch

print (str1)

Enter a string:Learn Python by Developing a Website
Learn**Python**by Developing a**Website**

In [12]:
import math
rad=float(input("Enter radius:"))
area= math.pi*rad*rad
print("Area=",area)

Enter radius:10
Area= 314.1592653589793

In [22]:
list1 = [1,2,3,4,5,6]
print("initial list is:",list1)
num = int(input("Enter the number to be inserted:"))
pos = int(input("Enter the position:"))
list1.insert(pos,num)
print("Modified list is:", list1)

initial list is: [1, 2, 3, 4, 5, 6]
Enter the number to be inserted:100
Enter the position:3
Modified list is: [1, 2, 3, 100, 4, 5, 6]

In [11]:
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
print("Initial Dictionary is:", sample_dict)
sample_dict['location']=sample_dict['city']
del sample_dict['city']
print("Modified Dictionary is :",sample_dict)

Initial Dictionary is: {'name': 'John', 'age': 5, 'salary': 8000, 'city': 'New York'}
Modified Dictionary is : {'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

In [14]:
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
print("Initial Dictionary is:", sample_dict)

sample_dict['emp3']['salary'] = 8500
print("Modified Dictionary is:", sample_dict)

Initial Dictionary is: {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
Modified Dictionary is: {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [19]:
tuple1 = (10, 20, 43, 54, 56, 68)
print ("Initial tuple:",tuple1)
tuple2 = (tuple1[2],tuple1[3])
print ("New tuple:",tuple2)

Initial tuple: (10, 20, 43, 54, 56, 68)
New tuple: (43, 54)

In [25]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
print("50 is present in the given tuple",tuple1.count(50),"times")

50 is present in the given tuple 3 times